<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>supplierController</servlet-name>
        <servlet-class>cn.techtutorial.servlet.supplierController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ALoginServlet</servlet-name>
        <servlet-class>cn.techtutorial.servlet.ALoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productControllers</servlet-name>
        <servlet-class>cn.techtutorial.servlet.productControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>cn.techtutorial.servlet.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>cn.techtutorial.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>supplierController</servlet-name>
        <url-pattern>/supplierController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ALoginServlet</servlet-name>
        <url-pattern>/ALoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productControllers</servlet-name>
        <url-pattern>/productControllers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
